.app-container {
  background: linear-gradient(
    90deg,
    rgba(37, 122, 122, 1) 0%,
    rgba(29, 155, 179, 1) 100%
  );
  width: 480px;
  height: 100vh;
  margin: 20px auto;
}

@media only screen and (max-width:800px){
  .app-container {
    margin: 0;
    width: 100%;
  }
}

.form-container {
  padding-top: 20px;

  height: 100px;

  text-align: center;
}

.day {
  background: rgb(37, 122, 122);
  background: linear-gradient(
    90deg,
    rgba(37, 122, 122, 1) 0%,
    rgba(29, 155, 179, 1) 100%
  );
}

.night {
  background: rgb(37, 122, 122);
  background: linear-gradient(
    90deg,
    rgb(13, 82, 173) 0%,
    rgb(11, 95, 112) 100%
  );
}
.todo-list-container {
  border-radius: 50px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
  height: 100vh;
}

.form-container input {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
}
